.project {
    margin: 20px auto;
    color: black;
    width: 1465px;
    border-bottom: 2px solid transparent;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;

    
    & h3 {
        font-size: 1.5rem;
        
    }
}



.container {
    display: flex;
    width: 1800px;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 10px;
    
    
    
    & .items {
        position: relative;
        top: 0;
        text-align: center;
        
        

        & p {
            position: absolute;
            color: #eee;
            background-color: black;
            top: 0;
            padding: 5px;
            border-radius: 2px;
            transition: 0.3s;
            
            

        }

        & :hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: black;
            cursor: pointer;
        }
        
        
        & img {
            width: 360px;
            transition: 0.3s;
            
        }

        & img:hover {
            transform: translateY(-10px);
            box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
        }
    }
    
}



