.footer {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


    & a {
        color: white;
        margin: 10px 5px;
    }

    
}   

